/* line 104, plugins/*.png */
.plugins-sprite, .plugins-back, .plugins-close, .plugins-login_ph, .plugins-login_ph_big, .plugins-login_qq, .plugins-login_wb, .plugins-login_wx_big, .plugins-logo_x118 {
  background-image: url('/web/lib/src/images/plugins-sde15e4f4cb.png');
  background-repeat: no-repeat;
}

/* line 84, G:/Ruby23-x64/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.plugins-back {
  background-position: -28px -250px;
  height: 36px;
  width: 36px;
}

/* line 84, G:/Ruby23-x64/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.plugins-close {
  background-position: 0 -250px;
  height: 28px;
  width: 28px;
}

/* line 84, G:/Ruby23-x64/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.plugins-login_ph {
  background-position: -64px -250px;
  height: 50px;
  width: 50px;
}

/* line 84, G:/Ruby23-x64/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.plugins-login_ph_big {
  background-position: 0 -118px;
  height: 66px;
  width: 236px;
}

/* line 84, G:/Ruby23-x64/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.plugins-login_qq {
  background-position: -164px -250px;
  height: 50px;
  width: 50px;
}

/* line 84, G:/Ruby23-x64/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.plugins-login_wb {
  background-position: -114px -250px;
  height: 50px;
  width: 50px;
}

/* line 84, G:/Ruby23-x64/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.plugins-login_wx_big {
  background-position: 0 -184px;
  height: 66px;
  width: 236px;
}

/* line 84, G:/Ruby23-x64/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.plugins-logo_x118 {
  background-position: 0 0;
  height: 118px;
  width: 118px;
}

/* line 5, ../../sass/plugins/login.app.scss */
.login_cnt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4.8rem;
  height: 4.53rem;
  margin: -2.265rem 0rem 0rem -2.4rem;
}
/* line 13, ../../sass/plugins/login.app.scss */
.login_cnt .head {
  width: 100%;
  height: 0.5rem;
}
/* line 17, ../../sass/plugins/login.app.scss */
.login_cnt .head .back {
  display: none;
  position: absolute;
  top: 0rem;
  left: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
  text-align: left;
  line-height: 0.5rem;
}
/* line 28, ../../sass/plugins/login.app.scss */
.login_cnt .head .back i {
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  background: url("../../images/plugins/back.png") no-repeat center/100%;
  vertical-align: -0.1rem;
}
/* line 37, ../../sass/plugins/login.app.scss */
.login_cnt .head .title {
  width: 100%;
  height: 0.5rem;
  font-size: 0.32rem;
  color: #000;
  text-align: center;
  line-height: 0.5rem;
}
/* line 47, ../../sass/plugins/login.app.scss */
.login_cnt .cnt {
  width: 100%;
  height: 3.76rem;
}
/* line 52, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .logo {
  width: 100%;
  height: 1.6rem;
  background: url("../../images/plugins/logo_x118.png") no-repeat center/auto 1.18rem;
}
/* line 58, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .weixin {
  display: block;
  width: 2.36rem;
  height: 0.66rem;
  margin: 0.15rem auto;
  background: url("../../images/plugins/login_wx_big.png") no-repeat center/100%;
  cursor: pointer;
}
/* line 67, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .phone_big {
  width: 2.36rem;
  height: 0.66rem;
  margin: 0.15rem auto;
  background: url("../../images/plugins/login_ph_big.png") no-repeat center/100%;
  cursor: pointer;
}
/* line 75, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .more {
  position: absolute;
  bottom: 0.3rem;
  left: 0rem;
  width: 100%;
  height: 1.2rem;
}
/* line 82, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .more p {
  display: inline-block;
  width: 100%;
  height: 0.7rem;
  text-align: center;
  color: #919191;
  font-size: 0.24rem;
  line-height: 0.7rem;
}
/* line 92, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .more .other {
  width: 3.3rem;
  height: 0.5rem;
  margin: 0rem auto;
}
/* line 97, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .more .other a {
  display: inline-block;
  float: left;
  width: 1.1rem;
  height: 0.5rem;
  cursor: pointer;
}
/* line 105, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .more .other .qq {
  background: url("../../images/plugins/login_qq.png") no-repeat center/auto 0.5rem;
}
/* line 109, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .more .other .wb {
  background: url("../../images/plugins/login_wb.png") no-repeat center/auto 0.5rem;
}
/* line 113, ../../sass/plugins/login.app.scss */
.login_cnt .cnt .td .more .other .ph {
  background: url("../../images/plugins/login_ph.png") no-repeat center/auto 0.5rem;
}
